@charset "utf-8";
/*右侧栏 二维码 qq联系*/

.izl-rmenu {
    position: fixed;
    /*left:50%; margin-left:532px; */
    right: 0;
    bottom: 10px;
    padding-bottom: 73px;
    z-index: 999;
}

.izl-rmenu .btn {
    width: 66px;
    height: 80px;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    padding: 0 !important;
    /*display: block !important;*/
    text-align: center;
    color: white;
    border-radius: 2px;
    padding-top: 4px !important;
}

.izl-rmenu .btn>i {
    font-size: 35px;
    line-height: 2;
}

.izl-rmenu .btn-qq {
    background-color: #0061ae;
}

.izl-rmenu a.btn-qq,
.izl-rmenu a.btn-qq:visited {
    background-color: #6da9de;
    text-decoration: none;
    display: block;
}

.izl-rmenu .btn-wx {
    background-color: #78c340;
    display: block !important;
    clear: both;
}

.izl-rmenu .btn-wx:hover {
    background-color: #58a81c;
}

.izl-rmenu .btn-wx .pic {
    position: absolute;
    left: -160px;
    top: 0px;
    display: none;
    width: 160px;
    height: 160px;
}

.izl-rmenu .btn-phone {
    background-color: #1461cc;
}

.izl-rmenu .btn-phone .phone {
    background-color: #1461cc;
    position: absolute;
    width: 200px;
    left: -200px;
    top: -1px;
    line-height: 80px;
    height: 80px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    display: none;
}

.izl-rmenu .btn-phone .phone a {
    display: block;
    color: white;
    font-size: 20px;
}

.izl-rmenu .btn-top {
    background-color: #ffffff;
    display: none;
    border: 1px solid #1461cc;
    color: #1461cc;
    position: relative;
}

.izl-rmenu .btn-top>img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

/* .izl-rmenu .btn-top:hover {
    background-color: #444;
} */

/*平板*/

@media (max-width:767px) {
    /*侧栏二维码响应式*/
    .izl-rmenu {
        padding-bottom: 20px;
    }
    .izl-rmenu .btn {
        width: 50px;
        height: 50px;
    }
    .izl-rmenu .btn>i {
        font-size: 26px;
        line-height: 1.9;
    }
    .izl-rmenu .btn-wx .pic {
        top: -112px !important;
    }
    .izl-rmenu .btn-phone .phone {
        line-height: 50px;
        height: 50px;
    }
    .izl-rmenu .congHidden {
        display: none;
    }
}